/*menu*/
.menu{
    top:0;
    left:0;
    width:150px;
    height:100%;
    z-index:100;
    color:#586069;
    background:rgba(255,255,255,0.7);
    position: fixed;
	user-select:none;
	-o-user-select:none;
	-moz-user-select:none;
    -webkit-user-select:none;
    transform:translateX(-100%);
    -o-transform:translateX(-100%);
    -ms-transform:translateX(-100%); 	/* IE 9 */
    -moz-transform:translateX(-100%); 	/* Firefox */
    -webkit-transform:translateX(-100%); /* Safari 和 Chrome */
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow:0 0 10px #d8d8d8; 
    -webkit-box-shadow:0 0 10px #d8d8d8;  
    -moz-box-shadow:0 0 10px #d8d8d8;  
}
/* .icon-th{
    top: 10px;
    left: 10px;
    font-size: 18px;
    position: absolute;
} */
.icon-close{
    top: 10px;
    right: 10px;
    font-size: 15px;
    position: absolute;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close:hover{
    color:#de5858;
    transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg); 	/* IE 9 */
    -moz-transform:rotate(360deg); 	/* Firefox */
    -webkit-transform:rotate(360deg); /* Safari 和 Chrome */
}
.menu-switch{
    top:50%;
    right:-28px;
    color: gray;
    font-size: 25px;
    position: absolute;
    cursor: pointer;
    /* background:#ffffff; */
    opacity:0.3;
    transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-switch:hover{
    opacity:0.5;
}
/* .menu-switch img{
    width:100%;
} */
.menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 2.5em;
    font-size: 15px;
}
.menu li{
    width: 100%;
    height: 100%;
    cursor:pointer;
    box-sizing: border-box;
    display: block;
}
.menu a{
    text-decoration: none;
    color:#586069;
    padding-left: 2em;
    display:block;
    height: 30px;
    line-height: 30px;
}
.menu a > span{
    font-size: 15px;
    right: 10px;
    position: absolute;
    line-height: 30px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.menu a:focus{
    background: #dcdcdc;
}
.menu a:hover{
    background: #dcdcdc;
}
.menu ul div{
    overflow: hidden;
    height:0px;
    transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    background:rgba(220,220,220,0.7);
    box-shadow:inset 5px 0px 10px 0px #d8d8d8; 
    -webkit-box-shadow:inset 5px 0px 10px 0px #d8d8d8;  
    -moz-box-shadow:inset 5px 0px 10px 0px #d8d8d8;  
}
.menu ul div > span{
    display: block;
    width:100%;
    height:30px;
    line-height: 30px;
    padding-left: 3em;
    box-sizing: border-box;
}
.menu ul span:hover{
    background:#dcdcdc;
}

/*bar*/
.bar{
    list-style: none;
    font-size:xx-small;
    background: rgba(220,220,220,0.7);
    position:absolute;
}
.bar > dd{
    position: relative;
    width:50px;
    height:30px;
    margin: 0px;
    padding: 0px;
    user-select:none;
    -o-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.bar > dt{
    cursor: move;
    width: 50px;
    height:30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    user-select:none;
    -o-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    background: rgba(180,180,180,0.7);
}
.bar > dd > div{
    width: 50px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    position:absolute;
    /* transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1); */
}
.bar > dd:nth-child(2) > div:hover{
    width:150px;
    background: rgba(200,200,200,0.7);
}
.bar > dd:nth-child(3) > div:hover{
    width:300px;
    background: rgba(200,200,200,0.7);
}
.bar > dd:nth-child(4) > div:hover{
    width:300px;
    background: rgba(200,200,200,0.7);
}
.bar > dd:nth-child(5) > div:hover{
    width:300px;
    background: rgba(200,200,200,0.7);
}
.bar > dd:nth-child(6) > div:hover{
    width:300px;
    background: rgba(200,200,200,0.7);
}
.bar > dd:nth-child(7) > div:hover{
    width:300px;
    background: rgba(200,200,200,0.7);
}
.bar > dd:nth-child(8) > div:hover{
    width:300px;
    background: rgba(200,200,200,0.7);
}
.bar > dd:nth-child(9) > div:hover{
    width:300px;
    background: rgba(200,200,200,0.7);
}
.bar > dd:nth-child(10) > div:hover{
    width:300px;
    background: rgba(200,200,200,0.7);
}
.bar > dd:nth-child(11) > div:hover{
    width:300px;
    background: rgba(200,200,200,0.7);
}

.bar > dd > div > div:nth-child(1){
    float: left;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.bar > dd > div > div:nth-child(2){
    float: left;
    width: 0px;
    height: 30px;
    line-height: 30px;
    text-align: center; 
    vertical-align:middle;
}
.bar input{
    width:50px;
    background:none;  
    outline:none;  
    border:none;
    background: #ffffff;
    font-size: 1px;
}